<div class="hero-anime">
    <div class="navigation-wrap start-header start-style">
        <div class="container">
        <div class="row">
            <div class="col-12 px-0">
                <app-top-nav></app-top-nav>
            </div>
        </div>
        </div>
    </div>
    </div>
    <app-home></app-home>
    <div class="section" id="jobs">
    <div class="container">
        <div class="section-header">
        <p class="btn btn-subtitle">JOBS</p>
        <h2 class="section-title">வேலை வாய்ப்புகள்</h2>
        </div>
        <app-jobs></app-jobs>
    </div>
    </div>
    <div class="section" id="services">
    <div class="container">
        <div class="section-header">
        <p class="btn btn-subtitle">SERVICEs</p>
        <h2 class="section-title">சேவைகள்</h2>
        </div>
        <app-services></app-services>
    </div>
    </div>
    <div class="section" id="contactus">
    <div class="container">
        <div class="section-header">
        <p class="btn btn-subtitle">KEEP IN TOUCH</p>
        <h2 class="section-title">தொடர்பில் இருங்கள்</h2>
        </div>
        <app-contactus></app-contactus>
    </div>
</div>
<app-footer></app-footer>