<app-header></app-header>
<div class="content py-4">
  <div class="container">
    <div class="main-body px-0">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="bg-white breadcrumb">
        <h6 class="align-self-center font-weight-bold card-title mb-lg-0 mb-sm-1 mx-2 fw-500">Petition List</h6>
        <div class="d-flex">
          <input class="form-control mx-1" [(ngModel)]="searchText" placeholder="search..." (keyup)="searchByText()">
          <select class="form-control" (change)="searchPetition()" [(ngModel)]="selectedPetitionType">
            <option class="text-secondary" value="" selected>All Petitions</option>
            <option *ngFor="let petitionType of petitionTypes" [value]="petitionType">{{ petitionName[petitionType] }}
            </option>
          </select>
        </div>       
      </nav>
      <div class="payments-list" *ngIf="petitionList.length>0;else noRecords ">
        <div class="card parent-card">
          <div class="p-2 pt-4">
            <div class="table-responsive border">
              <table class="table table-striped text-center">
                <thead>
                  <tr class="bg-secondary">
                    <th width="5%">S.No</th>
                    <th width="15%">Name</th>
                    <th Width="10%">Mobile Number</th>
                    <th width="20%">user Address</th>
                    <th width="13%">Petition Type</th>
                    <th width="12%">Date</th>
                    <th style="min-width:220px">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let petitionDet of petitionList;let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{petitionDet.userName | titlecase }}</td>
                    <td>{{petitionDet.userMobile}}</td>
                    <td>
                      <div class="block-ellipsis">
                        {{petitionDet.userAddress || "-Nill-"}}
                      </div>
                    </td>
                    <td>{{petitionName[petitionDet.petitionType]}}</td>
                    <td>{{petitionDet.created_at | date : 'MMM dd yyyy'}}</td>
                    <td>
                      <button class="btn btn-outline-info mx-1" (click)="viewDeatils(petitionDet,'information')">
                        <i class="fa fa-clipboard"></i>
                      </button>
                      <button class="btn btn-outline-primary mx-1" (click)="viewDeatils(petitionDet,'documents')">
                        <i class="fa fa-file"></i>
                      </button>
                      <button class="btn btn-outline-danger mx-1" (click)="viewDeatils(petitionDet,'delete')">
                        <i class="fa fa-trash"></i>
                      </button>
                      <button class="btn btn-outline-success mx-1" (click)="viewDeatils(petitionDet,'message')">
                        <i class="fa fa-paper-plane"></i>
                      </button>                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noRecords>
        <app-no-records [displayContent]="'No Records Found'"></app-no-records>
      </ng-template>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade-scale" id="documentsModal">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content" *ngIf="selectedPetition">
      <div class="modal-header font-weight-bold">
        Avaliable Documents
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row mx-0">
          <div class="col-12 row" *ngFor="let fileURL of selectedPetition.docs; let i=index">
            <p class="col-8">{{i+1}}. {{ getFileName(fileURL) }}</p>
            <button class="col-4 mb-2 btn btn-outline-primary"
              (click)="window.open(this.service.baseUrl+fileURL)">View</button>
          </div>
        </div>
      </div>
      <div class="modal-footer py-1 justify-content-center">
        <button class="btn btn-danger" (click)="closeModal('documents')">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade-scale" id="informationModal">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content" *ngIf="selectedPetition">
      <div class="modal-header font-weight-bold">
        {{selectedPetition.userName  }} Petition Details
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row mx-0">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Name</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userName}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='youth_jobs' ||
                        selectedPetition.petitionType=='self_jobs' || 
                        selectedPetition.petitionType=='other_jobs'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">DOB</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userDOB }}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="selectedPetition.petitionType!='area_problems'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Age</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userAge}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='youth_jobs' ||
                        selectedPetition.petitionType=='self_jobs' || 
                        selectedPetition.petitionType=='other_jobs'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Qualification</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userQualification}}</label>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Mobile</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userMobile}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='youth_jobs'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">E-Mail</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userEmail || '-Nil-'}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='area_problems'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Ward Number</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userWard}}</label>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Address</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userAddress}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='area_problems'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Panchayat</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userPanchayat}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='area_problems'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Taluk</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userTaluk}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='area_problems'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Issues</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.issueType}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='government_certificates'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Certificate Type</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.certificateType}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType=='medical_needs'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Disease</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.disease}}</label>
          </div>
        </div>
        <div class="row mx-0" *ngIf="
                        selectedPetition.petitionType!='youth_jobs' &&
                        selectedPetition.petitionType!='self_jobs' &&
                        selectedPetition.petitionType!='other_jobs'">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">Description</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.problemDescription || '-Nil-'}}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer py-1 justify-content-center">
        <button class="btn btn-danger" (click)="closeModal('information')">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade-scale" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content" *ngIf="selectedPetition">
      <div class="modal-header justify-content-center font-weight-bold">
        Delete Confirmation
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row mx-0 justify-content-center">
          <p class="text-center">Are you sure want to delete this petition?</p>
        </div>
      </div>
      <div class="modal-footer py-1 justify-content-center">
        <button class="btn btn-primary" (click)="deleteConfirm()">Confirm</button>
        <button class="btn btn-danger" (click)="closeModal('delete')">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade-scale" id="messageModal">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content" *ngIf="selectedPetition">
      <div class="modal-header justify-content-center font-weight-bold">
        Send Message
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row mx-0">
          <div class="col-3 px-0">
            <label class="text-dark font-weight-bold">To</label>
          </div>:
          <div class="col-8 pr-0">
            <label class="text-secondary">{{selectedPetition.userMobile}}</label>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-3 px-0">
              <label class="text-dark font-weight-bold">Message</label>
          </div>:
          <div class="col-8 pr-0">
              <textarea class="form-control" [(ngModel)]="messageContent" rows="3"></textarea>
          </div>
        </div>          
      </div>
      <div class="modal-footer py-1 justify-content-center">
        <button class="btn btn-primary" (click)="sendMessage()">Send</button>
        <button class="btn btn-danger" (click)="closeModal('message')">Cancel</button>
      </div>
    </div>
  </div>
</div>
