.card {
    background-color: #f6f6f6;
    color: white;
    border: none;
}

.head1 {
    font-weight: 900;
    background-color: #f90d0d;
    background-image: linear-gradient(0deg, #f90d0d 20%, #f5ff00 50%, #2368c7 60%);
    font-size: 30px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bdr {
    border-bottom: 1.5px solid #FFB74D;
    width: 65px;
    margin-right: auto;
    margin-left: auto
}

.card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E
}
.footer-right>a {
    margin-left: 15px
}
.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 15px;
    margin-top: 1.75rem;
    color: #f6b352;
}
.fa-angle-right {
    margin-left: 10px
}
.fa-3x {
    color: #f6b352;
}
.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px
}
.card-content>p {
    color: #2368c7;
}
.heading {
    position: relative;
    top: 75px
}
.follow-text {
    color: #393434;
}