<div class="card">
    <div class="heading text-center">
        <div class="head1">பாட்டாளி மக்கள் கட்சி</div>
        <p class="bdr"></p>
    </div>
    <div class="card-body">
        <div class="row m-0 pt-5">
            <div class="card col-12 col-md-4">
                <div class="card-content"> <i class="fa fa-thumbs-o-up fa-3x"></i>
                    <div class="card-title">JOBS / வேலை வாய்ப்புகள்</div>
                    <p>
                        <small>
                            உங்களுக்காக வேலை வாய்ப்புகளை வழங்க நாங்கள் தயாராக உள்ளோம். எனவே உங்கள் தன்னார்வ வேலைகளுக்கு இங்கே விண்ணப்பிக்கவும்
                        </small>
                    </p>
                    <div class="learn-more">
                        <p> <a href="#jobs"> LEARN MORE <label><i class="fa fa-angle-right"></i></label> </a> </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-content"> <i class="fa fa-handshake-o fa-3x"></i>
                    <div class="card-title">Services / சேவைகள்</div>
                    <p>
                        <small>
                            இங்கே நாங்கள் உங்களுக்கு சேவை செய்ய எப்போதும் தயாராக இருக்கிறோம்.
                        </small>
                    </p>
                    <div class="learn-more">
                        <p> 
                            <a href="#services">
                                LEARN MORE <label><i class="fa fa-angle-right"></i></label>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-content"> <i class="fa fa-phone fa-3x"></i>
                    <div class="card-title">Contact us / எங்களை தொடர்பு கொள்ள</div>
                    <p>
                        <small>
                            நாங்கள் எப்போதும் உங்களுடன் பேச காத்திருக்கிறோம். நீங்கள் எங்களுடன் பேச விரும்பினால் இங்கே தொடர்பு கொள்ளுங்கள்
                        </small>
                    </p>
                    <div class="learn-more">
                        <p> 
                            <a href="#contactus">
                                LEARN MORE <label><i class="fa fa-angle-right"></i></label>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer row m-0">
        <p class="text-primary"> <label> <i class="fa fa-phone text-primary"></i> </label> 824-810-3797 </p>
        <div>
            <p> 
                <small class="follow-text">FOLLOW US ON SOCIAL MEDIA</small> 
                <label class="footer-right"> 
                    <a href="https://www.facebook.com/Arul-Ramadas-%E0%AE%87%E0%AE%B0%E0%AE%BE%E0%AE%85%E0%AE%B0%E0%AF%81%E0%AE%B3%E0%AF%8D-604495922950995/" target="_blank">
                        <i class="fa fa-facebook-square"></i> 
                    </a>
                </label> 
            </p>
        </div>
    </div>
</div>