<div class="row menu-bar mx-0">
    <div class="container mx-3 justify-content-between">
        <div class="logo">
            <div class="header-font">
                <span class="head1">பாட்டாளி மக்கள் கட்சி</span>
            </div>
        </div>
        <div class="profile-btn">
            <img src="./assets/img/Header-Icon-User.png" class="rounded-circle" width="40" height="40">
        </div>
        <div class="dropdown-content">
            <span class="caret-up"></span>
            <div class="">
            <div class="sub-header-sub-menu" (click)="logout()">
                <i class="fa fa-sign-out pr-2"></i>Logout
            </div>
            </div>
        </div>
    </div>
</div>