<section class="w3l-workinghny-form">
  <!-- /form -->
  <div class="workinghny-form-grid">
    <div class="wrapper">
      <div class="logo">
        <h1>
          <a class="brand-logo p-3">
            <span class="head1">பாட்டாளி மக்கள் கட்சி</span>
          </a>
        </h1>
      </div>
      <div class="workinghny-block-grid card">
        <div class="workinghny-left-img align-end">
          <img src="../assets/img/login-img1.jpg" class="img-responsive" alt="img" style="max-height: 325px;" />
        </div>
        <div class="form-right-inf">
          <div class="login-form-content">
            <h3>Welcome To Login</h3>
            <div class="signin-form" [formGroup]="loginForm">
              <div class="one-frm">
                <label>Username</label>
                <input type="text" placeholder="Enter the username" autocomplete="off" formControlName="username">
                <div class="invalid-feedback text-right">
                  <p class="mb-0" *ngIf="signInClicked && loginForm.controls.username.value==''">please enter username
                  </p>
                </div>
              </div>
              <div class="one-frm">
                <label>Password</label>
                <input type="password" placeholder="Enter the password" autocomplete="off"  formControlName="password">
                <div class="invalid-feedback text-right">
                  <p class="mb-0" *ngIf="signInClicked && loginForm.controls.password.value==''">please enter password
                  </p>
                </div>
              </div>
              <button class="btn btn-style mt-3" (click)="Login()" [disabled]="signInClicked && loginForm.invalid">Sign
                In </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
